# Getting Financial Data - Pandas Datareader

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [8]:
import pandas as pd
import pandas_datareader

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is).

In [6]:
start_date=pd.to_datetime('2015-1-1')
end_date=pd.to_datetime('today')

### Step 3. Get an API key for one of the APIs that are supported by Pandas Datareader, preferably for AlphaVantage.

If you do not have an API key for any of the supported APIs, it is easiest to get one for [AlphaVantage](https://www.alphavantage.co/support/#api-key). (Note that the API key is shown directly after the signup. You do *not* receive it via e-mail.)

(For a full list of the APIs that are supported by Pandas Datareader, [see here](https://pydata.github.io/pandas-datareader/readers/index.html). As the APIs are provided by third parties, this list may change.)

### Step 4. Use Pandas Datarader to read the daily time series for the Apple stock (ticker symbol AAPL) between 01/01/2015 and today, assign it to df_apple and print it.

In [18]:
df_apple=pandas_datareader.av.time_series.AVTimeSeriesReader(symbols='AAPL',function='TIME_SERIES_DAILY', start=start_date,end=end_date, api_key='YZYMIEX8LD5D9PUX').read()

### Step 5. Add a new column "stock" to the dataframe and add the ticker symbol

In [20]:
df_apple['stock']='AAPL'

### Step 6. Repeat the two previous steps for a few other stocks, always creating a new dataframe: Tesla, IBM and Microsoft. (Ticker symbols TSLA, IBM and MSFT.)

In [22]:
df_tesla=pandas_datareader.av.time_series.AVTimeSeriesReader(symbols='TSLA',function='TIME_SERIES_DAILY', start=start_date,end=end_date, api_key='YZYMIEX8LD5D9PUX').read()
df_tesla['stock']='TSLA'
df_ibm=pandas_datareader.av.time_series.AVTimeSeriesReader(symbols='IBM',function='TIME_SERIES_DAILY', start=start_date,end=end_date, api_key='YZYMIEX8LD5D9PUX').read()
df_ibm['stock']='IBM'
df_msft=pandas_datareader.av.time_series.AVTimeSeriesReader(symbols='MSFT',function='TIME_SERIES_DAILY', start=start_date,end=end_date, api_key='YZYMIEX8LD5D9PUX').read()
df_msft['stock']='MSFT'

### Step 7. Combine the four separate dataFrames into one combined dataFrame df that holds the information for all four stocks

In [44]:
df=pd.concat([df_apple,df_tesla,df_ibm,df_msft])

In [45]:
df.index=pd.to_datetime(df.index)

### Step 8. Shift the stock column into the index (making it a multi-level index consisting of the ticker symbol and the date).

In [46]:
df=df.set_index([df.index,'stock'])

### Step 7. Create a dataFrame called vol, with the volume values.

In [47]:
vol=df[['volume']]

### Step 8. Aggregate the data of volume to weekly.
Hint: Be careful to not sum data from the same week of 2015 and other years.

In [51]:
vol.resample('W',level=0).sum()

                volume
2015-01-04    91408262
2015-01-11   488527205
2015-01-18   515385976
2015-01-25   383535971
2015-02-01   952276986
...                ...
2024-04-14   867145860
2024-04-21   893694707
2024-04-28  1054063735
2024-05-05  1199915358
2024-05-12   772978764

[489 rows x 1 columns]

### Step 9. Find all the volume traded in the year of 2015

In [52]:
v=vol.resample('W',level=0).sum()
v[v.index.year<2016]

               volume
2015-01-04   91408262
2015-01-11  488527205
2015-01-18  515385976
2015-01-25  383535971
2015-02-01  952276986
2015-02-08  527459433
2015-02-15  534692182
2015-02-22  344425275
2015-03-01  570840773
2015-03-08  445085065
2015-03-15  601007579
2015-03-22  537371595
2015-03-29  424766436
2015-04-05  347008089
2015-04-12  373631537
2015-04-19  348346420
2015-04-26  537949881
2015-05-03  745181006
2015-05-10  523490230
2015-05-17  396981822
2015-05-24  370104292
2015-05-31  337648693
2015-06-07  328127417
2015-06-14  379251674
2015-06-21  419740383
2015-06-28  385622320
2015-07-05  299915130
2015-07-12  473401543
2015-07-19  353320154
2015-07-26  599433599
2015-08-02  408571725
2015-08-09  564412631
2015-08-16  510210807
2015-08-23  549277933
2015-08-30  866880799
2015-09-06  529509484
2015-09-13  402606411
2015-09-20  487410368
2015-09-27  407817267
2015-10-04  517047040
2015-10-11  461894343
2015-10-18  339725820
2015-10-25  570113902
2015-11-01  612400119
2015-11-08  416948022
2015-11-15  456309238
2015-11-22  384540744
2015-11-29  216716798
2015-12-06  470650561
2015-12-13  395724860
2015-12-20  610425674
2015-12-27  251772645