# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [40]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

In [41]:
url1="https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv"
url2="https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv"

   ### Step 3. Assign each to a variable called cars1 and cars2

In [42]:
cars1=pd.read_csv(url1)
cars2=pd.read_csv(url2)

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [43]:
cars1=cars1.loc[:,'mpg':'car']

### Step 5. What is the number of observations in each dataset?

In [44]:
cars1.shape,cars2.shape

((198, 9), (200, 9))

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [46]:
cars=pd.concat([cars1,cars2],axis=0)
cars.reset_index(drop=True,inplace=True)

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [47]:
owners=pd.Series(np.random.randint(15000,high=73000,size=398))
owners

0      55639
1      66159
2      53006
3      72107
4      27986
       ...
393    32218
394    58994
395    26038
396    47504
397    15528
Length: 398, dtype: int32

### Step 8. Add the column owners to cars

In [48]:
cars['owners']=owners

In [49]:
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,55639
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,66159
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,53006
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,72107
4,17.0,8,302,140,3449,10.5,70,1,ford torino,27986
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,32218
394,44.0,4,97,52,2130,24.6,82,2,vw pickup,58994
395,32.0,4,135,84,2295,11.6,82,1,dodge rampage,26038
396,28.0,4,120,79,2625,18.6,82,1,ford ranger,47504
397,31.0,4,119,82,2720,19.4,82,1,chevy s-10,15528

In [50]:
pd.concat([cars,owners],axis=1)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners,0
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,55639,55639
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,66159,66159
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,53006,53006
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,72107,72107
4,17.0,8,302,140,3449,10.5,70,1,ford torino,27986,27986
...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,32218,32218
394,44.0,4,97,52,2130,24.6,82,2,vw pickup,58994,58994
395,32.0,4,135,84,2295,11.6,82,1,dodge rampage,26038,26038
396,28.0,4,120,79,2625,18.6,82,1,ford ranger,47504,47504
397,31.0,4,119,82,2720,19.4,82,1,chevy s-10,15528,15528